body {
	font-family: Segoe UI, Arial; sans-serif;
}

#wrapper {
	width: 820px;
	margin: 0 auto;
	text-align: center;
}
#title {
	font-size: 2em;
	font-weight: 400;
}
#file_input {
	margin: 4px auto;
}
#image_area, #buttons_area {
	display: inline-block;
    vertical-align: top;
}
#buttons_area {
    width: 170px;
    text-align: left;
}
#buttons_area button {
	margin-bottom: 5px;
}
#turn_grayscale_button {
    margin-top: 72px;
}
#save_button {
	margin-top: 20px;
}
#degrees_input {
	width: 35px;
	margin-left: 5px;
}