body {
	font-family: Segoe UI, Arial; sans-serif;
}

#wrapper {
	width: 820px;
	margin: 0 auto;
	text-align: center;
}
#title {
	font-size: 2em;
	font-weight: 400;
}
#file_input {
	margin: 4px auto;
}
#image_area, #buttons_area {
	display: inline-block;
    vertical-align: top;
}
#buttons_area {
    width: 170px;
    text-align: left;
	font-size: 0.8em;
}
#buttons_area button {
	margin-bottom: 5px;
}
#turn_grayscale_button {
    margin-top: 72px;
}
#save_button {
	margin-top: 20px;
}
#rotate_text {
	display: inline-block;
}
#rotate_slider {
    width: 150px;
}
#degrees_input {
	width: 35px;
	margin-left: 5px;
}
.color_component_text {
	display: inline-block;
	width: 12px;
}
.color_component_slider {
	width: 90px;
	vertical-align: -6px;
}
.color_component_input {
	width: 35px;
}
.percent_sign {
    color: gray;
}