body {
	font-family: Segoe UI, Arial, sans-serif;
}

#wrapper {
	margin: 0 auto;
	text-align: center;
}
#title {
	font-size: 2em;
	font-weight: 400;
}
#file_input {
	margin: 4px auto;
}
#image_area, #buttons_area {
	display: inline-block;
    vertical-align: top;
}
#buttons_area {
    width: 170px;
    text-align: left;
	font-size: 0.8em;
}
#buttons_area button {
	margin-bottom: 5px;
}
#rotate_text {
    margin-top: 72px;
}
#save_button {
	margin-top: 5px;
}
#rotate_text {
	display: inline-block;
}
#rotate_slider {
    width: 150px;
}
#degrees_input {
	width: 35px;
	margin-left: 5px;
}
.color_component_text {
	display: inline-block;
	width: 12px;
}
.color_component_slider {
	width: 90px;
}
input[type="range"] {
	vertical-align: -6px;
}
.color_component_input, #brightness_input, #contrast_input, #saturation_input, #gamma_input {
	width: 35px;
}
.percent_sign {
    color: gray;
}
#brightness_slider, #contrast_slider, #saturation_slider {
	width: 106px;
}
#gamma_text {
	display: inline-block;
}
#gamma_slider {
	width: 62px;
}
#restore_button {
	margin-top:10px;
}
.colorMatrixTile {
	display: inline-block;
	border: solid 2px lightgray;
	margin: 4px 11px 4px 0px;
	width: 38px;
	height: 30px;
}
.colorMatrixTile:hover {
	cursor: pointer;
	border: solid 2px DarkGray;
}

.colorMatrixTile_active {
	border: solid 2px DimGray;
}

.colorMatrixTile_active:hover {
	border: solid 2px DimGray;
}

.colorMatrixTile_disabled {
	background-position-y: 30px;
	border: solid 2px WhiteSmoke;
}

.colorMatrixTile_disabled:hover {
	border: solid 2px WhiteSmoke;
	cursor: default;
}

#colorMatrixTile_02 {
	background-image: url('Images/ColorMatrix02.jpg');
}

#colorMatrixTile_03 {
	background-image: url('Images/ColorMatrix03.jpg');
}

#colorMatrixTile_04 {
	background-image: url('Images/ColorMatrix04.jpg');
}

#colorMatrixTile_05 {
	background-image: url('Images/ColorMatrix05.jpg');
}

#colorMatrixTile_06 {
	background-image: url('Images/ColorMatrix06.jpg');
}

#colorMatrixTile_07 {
	background-image: url('Images/ColorMatrix07.jpg');
}

#colorMatrixTile_08 {
	background-image: url('Images/ColorMatrix08.jpg');
}
#speedTest_area {
	margin-top: 5px;
}
#testTime {
	font-weight: 600;
	height: 17px;
}
#speedTest_checkbox {
	vertical-align: -3px;
}
#testsCount_input {
	width: 45px;
}

#techs_area {
    display: inline-block;
    vertical-align: top;
    padding-top: 67px;
    text-align: left;
}